/**
 * =============================================
 * Moduz+ | Global Styles
 * Arquivo: app/globals.css
 * Etapa: Bootstrap Tailwind + defaults
 * =============================================
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background: #000;
  color: #e2e8f0; /* slate-200 */
}
